@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Roboto', sans-serif;
    background-color: #e3e3cf;
}

div{
    margin-bottom: 55px;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 25%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 5%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

  #bottom {
    position: absolute;
    bottom: 15px;
    right:50px;
  }

  #image{
      position: absolute;
      right: 50px;
      top: 175px;
  }